html,body {
	margin: 0;
}

body {
	background: #fff;
}

.g-body-inner {
	max-width: 1050px;
	margin: 0 auto;
}

img {
	width: 100%;
}

.g-nav-list {
	/*width: 120%;*/
}

.g-nav-inner {
	font-family: blackoak-std, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5vw;
	padding: 0 20px;
	transform: scaleX(0.8);
	margin-left: -10%;
	margin-bottom: 3px;
}

@media screen and (min-width: 600px) {
	.g-nav-list {
		
	}

	.g-nav-inner {
		/*margin-left: -14%;*/
		font-size: 2.2vw;
	}
}

.g-nav {
	max-width: 1050px;
	margin: 0 auto;
	overflow: hidden;
}

.g-logo-cont {
	padding: 20px;
	margin-bottom: 20px;
}

.g-logo-cont img {
	max-width: 460px;
}

.g-store {
	margin: 30px auto;
}

.g-store-each {
	margin-bottom: 25px;
}

@media screen and (min-width: 600px) {
	
	.g-store {
		padding: 20px;
	}

	.g-store-each {
		display: inline-block;
		vertical-align: top;
		width: calc(33% - 10px);
		margin-right: 10px;
	}

	.g-store-each:last-child {
		margin-right: 0;
	}
}

.g-meta {
	padding: 5px 15px;
	font-family: "arial";
}

@media screen and (min-width: 600px) {

	.g-meta {
		padding: 0;
	}

}

.g-name {
	font-weight: 700;
	font-size: 20px;
}

.g-desc, .g-agate {
	font-style: italic;
	color: #777;
	font-size: 13px;
}

.g-price {
	margin-top: 2px;
}

.g-price-num {
	
}

.g-agate {
	font-size: 11px;
	vertical-align: top; 
}


footer {
	font-family: "arial";
	font-size: 12px;
	padding: 20px;
	color: #999;
	text-align: center;
	padding-top: 100px;
}