<div class="g-nav">
	<% data.pages.forEach(function(d){ %>

	<% function convertToSlug(Text) {
	    return Text
	        .toLowerCase()
	        .replace(/[^\w ]+/g,'')
	        .replace(/ +/g,'-')
	        ;
	} %>

	<div class="g-nav-list g-nav-list-<%= d.slug %>" data-id="<%= d.slug %>" data-state="hidden">
		<div class="g-nav-name"><%= d.page %></div>
		<div class="g-nav-content">
			<% if (d.text) { %>
			<div class="g-about"><%= d.text %></div>
			<% } %>
			<% if (d.content == "store" || d.content == "upcoming") { %>
			<% var list = d.content == "store" ? data.store : d.content == "upcoming" ? data.upcoming : []; %>
			<% if (d.content == "store") { %>
			<div class="g-shopping-cart-icon"><img src="img/cart.png"><div class="g-cart-count"></div></div>
			<% } %>
			<div class="g-store g-stock-list g-<%= d.content %>-list">				

				<% list.forEach(function(l){ %>
				<div class="g-store-each" data-id="<%= l.id %>" data-page="<%= d.content %>">
					<% if (l.img) { %>
					<div class="g-img"><img src="img/<%= l.img[0] %>"></div>
					<% } else { %>
					<div class="g-img"><img src="img/<%= d.content %>-<%= l.id %>.png"></div>
					<% } %>
					<div class="g-meta">
						<div class="g-hed">
							<span class="g-name"><%= l.name %></span>
							<span class="g-desc"><%= l.text %></span>
						</div>
						<% if (l.price) { %>
						<div class="g-price">
							<sup class="g-agate">HKD</sup>
							<% if (l.price == "10up") { %>
							<span class="g-price-num"><span class="g-price-new"><%= l.price %></span></span>
							<% } else { %>
							<span class="g-price-num"><span class="g-price-old"><%= (+l.price+40) %></span> <span class="g-price-new"><%= l.price %></span></span>
							<% } %>
						</div>
						<% } %>
					</div>
				</div>
				<% }) %>
			</div>

			<div class="g-store g-stock-cont">
				<% list.forEach(function(l){ %>
				<div class="g-stock-each g-store-buy g-hide g-<%= d.content %>-<%= l.id %>" data-id="<%= l.id %>">

					<div class="g-back" data-page="<%= d.content %>"><div class="g-tri">◂</div>BACK</div>

					<% if (l.img) { %>
					<div class="g-img g-img-slideshow-cont">
						<% l.img.forEach(function(a,ai){ %>
							<img class="g-img-slideshow g-img-slideshow-group-store-<%= l.id %> g-img-slideshow-<%= a.replace('.png', '') %> <% if (ai == 0) { %>g-on-top<% } %>" src="img/<%= a %>">
						<% }) %>

						<div class="g-thumbnail-cont">
							<% l.img.forEach(function(a){ %>
								<img class="g-img-thumbnail" data-id="<%= l.id %>" data-item="<%= a.replace('.png', '') %>" src="img/<%= a %>">
							<% }) %>
						</div>

					</div>
					<% } else { %>
						<div class="g-img"><img src="img/<%= d.content %>-<%= l.id %>.png"></div>
					<% } %> 
					
					<div class="g-meta">
						<div class="g-hed">
							<span class="g-name" id="stock-name" data-id="<%= l.id %>"><%= l.name %> <% if (l.category == 'Tee') { %>(起碼三月先有貨)<% } %></span>
						</div>
						<% if (l.text) { %><div class="g-desc"><%= l.text %></div><% } %>
						<% if (l.price) { %><div class="g-price">
							<sup class="g-agate">HKD</sup>
							<% if (l.price == "10up") { %>
							<span class="g-price-num"><span class="g-price-new"><%= l.price %></span></span>
							<% } else { %>
							<span class="g-price-num"><span class="g-price-old"><%= (+l.price+40) %></span> <span class="g-price-new"><%= l.price %></span></span>
							<% } %>
						</div><% } %>

						<div class="g-details">
						<% if (l.description) { 

						var str = "";
						var split = l.description.split("//")
						split.forEach(function(a){
							str += "<p>" + a + "</p>"
						})
						%>
						<% } %>
						<%- str %>
						<% if (l.category == "Tee") { %>
						
						<p><%= l.category %></p>
						<p><%= l.name %></p>
						<p> available on lkk-store.com</p>
						<% if (l.category == "Tee") { %>
							<% if (l.type == "Screen") { %><p> Silk Screen by @LKK </p><% } %>
							<p>Design by @LKK  </p>
							<% if (l.type == "Screen") { %><p>Hand Made Silk Screen Printing on 100% Cotton Tee </p><% } %>
							<p>Standard Asia Fit Size* <span class="g-expand-button"><span class="g-dotted">S/M/L/XL</span> <span class="g-expand-size-chart g-collapsed">▼</span></span></p>

							<div class="g-size-chart" data-state="hidden">
								<table>
									<tbody>
									<tr><td></td><td>S</td><td>M</td><td>L</td><td>XL</td></tr>
									<tr><td>length</td><td>65</td><td>67</td><td>69</td><td>71</td></tr>
									<tr><td>chest</td><td>47</td><td>49</td><td>51</td><td>53</td></tr>
									<tr><td>shoulder</td><td>42</td><td>43</td><td>45</td><td>47</td></tr>
									<tr><td>sleeve</td><td>20</td><td>21</td><td>21</td><td>22</td></tr>
									</tbody>
								</table>
							</div>
						<% } %>
						
						<br>
						<p><b><i>未識印衫，而家開始學整，起碼三月先有貨</i></b></p>
						<% } %>
						</div>

						<% if (d.content == "store") { %>
						<div class="g-buy">
							<div class="g-size">
								<span class="g-label">尺碼</span>
								<select id="size" name="size">
									<% var sizes = l.sizes.split(",") %>
									<% sizes.forEach(function(s){ %>
									<option value="<%= s %>" <% if (s == 'S') { %>selected="selected"<% } %>><%= s %></option>
									<% }) %>
								</select>
							</div>
							<div class="g-volume">
								<span class="g-label">數量</span>
								<div class="g-volume-cont g-volume-count-<%= l.id %>" data-id="<%= l.id %>">
									<div class="g-count-button" data-type="minus">–</div>
									<div class="g-count">1</div>
									<div class="g-count-button" data-type="add">+</div>
								</div>
							</div>
							<button class="g-button" data-action="add-to-cart">加入手推車</button>
							<button class="g-button" data-action="add-to-cart-checkout">直接埋單</button>
						</div>
						<% } %>
					</div>
				</div>

				<% }) %>
			</div>

			<% if (d.content == "store") { %>
			<div class="g-shopping-cart g-hide">
				<div class="g-back" data-page="<%= d.content %>"><div class="g-tri">◂</div>BACK</div>

				<div class="g-drop-banana g-inside-form"></div>

				<div class="g-shopping-cart-inner">
					<div class="g-tr g-th"><div class="g-td g-item">貨物</div><div class="g-td g-quantity">數量</div><div class="g-td g-price">價錢</div></div>
					<div class="g-tbody"><div class="g-empty">唔睇都買下野啦喂</div></div>
					<div class="g-tr"><div class="g-td g-item"></div><div class="g-td g-quantity"></div><div class="g-td g-price g-total-price">$0</div></div>
					<div class="g-submit"><div class="g-button" data-action="buy">埋單</div></div>
				</div>

				<div class="g-submitted g-hide">
					<div class="g-thanks-text">payme 完 cap 圖 send 去 +85257280149 先會正式落單！</div>
					<img src="img/IMG_0412.JPG">
				</div>

				<form class="g-hide" name="my-form" id="my-form">
					<div class="g-buy-each"><span class="g-lab">名字</span><input id="name" type="text" name="name"></div>
					<div class="g-buy-each"><span class="g-lab">電話</span><input id="phone" type="text" name="phone"></div>

					<div class="g-purchase-summary"></div>
					<!-- <div class="g-buy-each"><span class="g-lab">貨物</span><input id="item" class="g-bought" type="text" name="item"></div> -->
					<!-- <div class="g-buy-each"><span class="g-lab">價錢</span><input id="price" type="text" name="price"></div> -->
					<!-- <div class="g-note">可以俾多過$280，小費將全數撥捐《黎根記發展基金》</div> -->

					<button type="submit" id="submit" class="g-buy-button">真係 BUY</button>
				</form>
			</div>
			<% } %>

			<% } %>
		</div>
	</div>
	<% }) %>
</div>

<div class="g-drop-banana g-outside-form"></div>

<footer>
	<div class="g-social">
		<a href="https://www.instagram.com/lkk.store/"><div class="g-social-icon g-ig"></div></a>
		<a href="https://wa.me/85257280149"><div class="g-social-icon g-whatsapp"></div></div></a>
	<div class="g-tm">© 2021 黎根記.<br>All rights reserved.</div>
</footer>

<script>var stocklist = <%- JSON.stringify(data.store) -%></script>